<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MyGetEqPackages" value="https://www.myget.org/F/korzh-nuget/api/v3/index.json" />
    <add key="Telerik UI for ASP.NET Core 2024.4.1112(AdditionalPackages)" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core 2024 Q4\" />
    <add key="Telerik UI for ASP.NET Core 2024.4.1112(MainPackage)" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core 2024 Q4\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>